@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1140px;
    }
}
body {
    background-color: #FEFEFE;
}
.sum-satpen .card {
    margin-bottom: 1.4rem;
}
.sum-satpen .card-body {
    padding: 1.2rem;
}
.sum-satpen .card-body h5:not(.num) {
    font-weight: 600;
    color: #327B32;
    margin-bottom: 0;
}
.sum-satpen .card-body h2 {
    margin-bottom: .17rem;
}
.sum-satpen .card-body p {
    margin-bottom: 0;
    font-size: .6em;
}
.sum-satpen .card-body>div {
    min-height: 3.5rem;
}
@media (min-width: 768px) {
    .sum-satpen .col-sm-1 {
        width: 12.44444%;
    }

}
.card-infomasi {
    max-height: 29rem;
    overflow: auto;
}
.card-infomasi p {
    font-weight: 300;
}
.flex-card .card {
    box-shadow: none;
    border: var(--bs-border-width) solid #DFE5EF;
}
.flex-card .card-body {
    padding: .6rem .8rem;
}
.flex-card .card:nth-child(1) {
    margin-left: 0 !important;
}
.flex-card .card:nth-child(5) {
    margin-right: 0 !important;
}
.flex-card .card-title {
    font-size: 1.1em;
}
.flex-card .card-text {
    font-size: .7rem;
}
.card-beranda-informasi>.card-body {
    padding: 1.3rem;
}
.menu-title .line-title {
    width: 70%;
    background-color: #ddd;
    height: 1px;
}
.menu-title .deff {
    font-weight: 600;
    color: #F8B23E;
}
#map-indonesia {
    height: 500px;
    min-width: 310px;
    /* max-width: 800px; */
    margin: 0 auto;
}

.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

.bg-navbar-landing {
    background: url("/assets/images/backgrounds/Untitled.png") #327B32;
}
.container-navbar {
    max-width: 1330px;
}
.container-body {
    max-width: 1240px;
}
.bg-navbar-landing img {
    background: rgba(255, 255, 255, 0.9);
    padding: .1rem .2rem;
    border-radius: .2rem;
}
.btn-yellow {
    background: #F8B23E;
    color: #000;
}
.btn-yellow:hover {
    background: #e1a032;
    color: #000;
}
.btn-yellow:focus {
    background: #c98a1e !important;
    color: #000 !important;
    border: none;
}
.nav-link:focus, .nav-link {
    font-size: 1.1em;
    color: #fff;
    margin: 0 .2rem;
}
.nav-link:focus, .nav-link:hover {
    color: #e1a032;
}
.row-slide-map {
    background: #fff;
    box-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
}
.h-row {
    min-height: 20rem;
}
.bg-file-image {
    background: #EAEFF4;
    font-size: 4em;
    height: 100%;
}
.card-verify {
    background: #EAEFF4;
    border: .3rem dotted #d3d4d5;
}
.footer-up {
    background: rgba(50, 123, 50, 0.95);
    min-height: 10rem;
}
.footer-up p {
    color: #fff;
    font-weight: 400;
}
.footer-up .address p {
    color: #fff;
    margin-bottom: .2rem;
}
.footer-up .address p:nth-child(even) {
    margin-bottom: .6rem;
    font-weight: 400;
}
.footer-up .address p:nth-child(odd) {
    color: #F8B23E;
}
.footer-down {
    background: #E0BD66;
    color: #111;
}
.bg-coksu {
    background: #E0BD66;
}

.card-read-info p {
    font-size: 1.06em;
    letter-spacing: .02rem;
}
.slip-file {
    min-width: 5rem;
    margin-right: .4rem;
    border: .15rem dotted #d3d4d5;
    border-radius: 3px;
    background: #EAEFF4;
}
#breadcrumb li a{
    margin-top: 0;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 0;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    top: 3.5rem;
    z-index: 10;
  }
  .carousel-caption h2 {
    font-weight: 700;
  }
  .carousel-item-bg {
    background: rgba(0, 0, 0, 0.5);
    padding: 4rem;
  }

  .carousel-caption-bg {
    background: rgba(0, 0, 0, 0.5);
    padding: 1.5rem 2rem;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 43rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 43rem;
  } 

  .card-zoom {
      transition: transform 0.3s ease-in-out;
  }
  .card-zoom:hover {
      z-index: 888;
      transform: scale(1.29);
  }
  .menu-title h4 {
      font-weight: 600;
  }
  .menu-title img {
      max-width: 400px;
  }


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
/* Bump up size of carousel content */
.carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
}

.featurette-heading {
    font-size: 50px;
}
}

@media (min-width: 62em) {
.featurette-heading {
    margin-top: 7rem;
}
}